Flask==3.0.2
gunicorn==22.0.0
imageio==2.34.2
matplotlib==3.8.3
matplotlib-inline==0.1.6
numpy==1.26.4
opencv-contrib-python-headless==4.10.0.84
pillow==10.4.0
requests==2.32.3
scikit-image==0.24.0
segment_anything @ git+https://github.com/facebookresearch/segment-anything.git@6fdee8f2727f4506cfbbe553e23b895e27956588
torch==2.2.1+cpu
torchaudio==2.2.1+cpu
torchmetrics==1.4.0.post0
torchvision==0.17.1+cpu
ultralytics==8.2.68
